<div id="job_actions">
    <h3>Admin</h3>
    <ul>
        {% if not job.isActivated %}
            <li><a href="{{ path('ens_job_edit', {'token': job.token}) }}">Edit</a></li>
            <li><a href="{{ path('ens_job_edit', {'token': job.token}) }}">Publish</a></li>
        {% endif %}
        <li>
            <form action="{{ path('ens_job_delete', {'token': job.token}) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" onclick="if(!confirm('Are you sure?')) {return false;}">Delete</button>
            </form>
        </li>
        {% if job.isActivated %}
            <li><a href="{{ path('ens_job_edit', { 'token': job.token }) }}">Edit</a></li>
            <li>
                <form action="{{ path('ens_job_publish', { 'token': job.token }) }}" method="post">
                    {{ form_widget(publish_form) }}
                    <button type="submit">Publish</button>
                </form>
            </li>
        {% endif %}
    </ul>
</div>